.header {
  &__logo-link {
    display: block;
    text-align: center;
    &_image {
      width: 60px;
      height: 60px;
      text-align: center;
    }
  }
}
.navbar-toggler-icon {
  background-image: url(../img/burger.png);
}
.accordion-button {
  &:focus {
    box-shadow: none;
  }
  background-color: rgb(43, 48, 53);
  &::after {
    background-image: url(../img/down.png);
  }
  &:not(.collapsed) {
    background-color: rgb(159, 162, 164);
    &::after {
      background-image: url(../img/down.png);
    }
  }
}
.form-control:focus {
  box-shadow: 0 0 0 0.1rem rgba(159, 162, 164);
}
