.header__logo-link {
  display: block;

  text-align: center;
}
.header__logo-link_image {
  width: 60px;
  height: 60px;

  text-align: center;
}

.navbar-toggler-icon {
  background-image: url(../img/burger.png);
}

.accordion-button {
  background-color: rgb(43, 48, 53);
}
.accordion-button:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
}
.accordion-button::after {
  background-image: url(../img/down.png);
}
.accordion-button:not(.collapsed) {
  background-color: rgb(159, 162, 164);
}
.accordion-button:not(.collapsed)::after {
  background-image: url(../img/down.png);
}

.form-control:focus {
  -webkit-box-shadow: 0 0 0 0.1rem rgb(159, 162, 164);
          box-shadow: 0 0 0 0.1rem rgb(159, 162, 164);
}
